<% start = Time.new(2019,10,01, 0, 00, 00).to_time.utc.to_i %>
<% stop  = Time.new(2019,10,01, 15, 00, 00).to_time.utc.to_i %>

<h1>Schedule</h1>
<div class="row">

	<div class="col-1 time" style="padding:0px;">
		<div><h4>&nbsp;</h4></div>
		<%# creates left time scale in 1 hour increments %>
		<% (start..stop).step(1.hour).each do |ts| %>
			<div class="hour-box">
				<div class="deets">
					<%= Time.at(ts).utc.strftime('%l:%M%p') %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-11" style="padding:0px;">
		<div class="row" id="schedule">
			<% @technicians.each do |t| %>
				
				<div id="<%= t["id"] %>" class="col tech-col" style="padding:0px;">
					<h4 class="text-center tech-name"><%= t["name"] %></h4>
					<% arr = [] %>
					<% t["work"].each{|v| arr.push(v["time"]) } %>
					
					<% overlap = 0 %> <%# time in minutes that the work exceeds the one hour incrementation %>
					<% endTime = nil %>
					<% prevEndTime = nil %>
					<% (start..stop).step(1.hour).each do |ts| %>
						
						<% ct = Time.at(ts).utc %>
						<% scheduled = false %>
							<% if overlap < 60 || arr.any?{|time| (time.to_time.utc).to_i.between?(ct.to_i, (ct + 60*60-overlap).to_i)} %> <%# skips generating box if work duration covers the hour increment %>
								<% t["work"].each do |w| %>
									<% realTime = w["time"].to_time.utc %>
									<%# if the work order time falls within the hour incrementation %>

									<% if (realTime).to_i >= ct.to_i && (realTime).to_i < (ct+60*60-overlap).to_i %> 
										<% scheduled = true %>
										<% endTime = realTime+60*(w["duration"].to_i) %>

										<%# if workorder start time is on the hour eg 4:00 %>
										<% if (realTime) == ct %>
											
											<% overlap = w["duration"] - 60  %>
											<%# creates a box showing scheduled work, location, start and end times %>
											<div class="hour-box scheduled text-center" style="height:<%= (w["duration"]*2) %>px;" data-city="<%= w["city"] %>" data-price="<%= w["price"] %>" data-duration="<%= w["duration"] %>" data-start="<%= (realTime).strftime('%l:%M%p') %>" data-end="<%= (realTime+60*(w["duration"].to_i)).strftime('%l:%M%p') %>">
												<div class="deets">
													<p class="name"><%= w["name"] %></p>
													<p><%= w["city"] %></p>
													<p><%= "$#{w["price"]}" %></p>
													<p class="sched-time"><%= "#{(realTime).strftime('%l:%M%p')} to #{(realTime+60*(w["duration"].to_i)).strftime('%l:%M%p')}" %></p>
												</div>
											</div>
										<%# if work order start time occurs at some point not on the hour eg 4:15 %>
										<% else %>






											<% offset = ((realTime) - ct) / 60 %> <%# time in minutes from the start of the hour %>
											<% overlap = (w["duration"] + offset) - 60  %>
											<% if prevEndTime.blank? || prevEndTime.to_i <= ct.to_i %>
												<%# creates a "nothing scheduled" box for the time from the start of the hour to the start of the work %>
												<div class="hour-box text-center" data-overlap="<%= overlap %>" style="height:<%= (offset*2) %>px;" data-start="<%= ct.strftime('%l:%M%p') %>" data-end="<%= (ct+offset*60).strftime('%l:%M%p') %>">
													<div class="deets">
														<p>Nothing Scheduled</p>
														<p class="sched-time">(<%= "#{ct.strftime('%l:%M%p')} - #{(ct+offset*60).strftime('%l:%M%p')}" %> )</p>
													</div>
												</div>
											<% end %>
											<%# creates a box showing scheduled work, location, start and end times %>
											



											<div class="hour-box scheduled text-center" style="height:<%= (w["duration"]*2) %>px;" data-city="<%= w["city"] %>" data-price="<%= w["price"] %>" data-duration="<%= w["duration"] %>" data-start="<%= (realTime).strftime('%l:%M%p') %>" data-end="<%= (realTime+60*(w["duration"].to_i)).strftime('%l:%M%p') %>">
												<div class="deets">
													<p class="name"><%= w["name"] %></p>
													<p><%= w["city"] %></p>
													<p><%= "$#{w["price"]}" %></p>
													<p class="sched-time"><%= "#{(realTime).strftime('%l:%M%p')} to #{(realTime+60*(w["duration"].to_i)).strftime('%l:%M%p')}" %></p>
												</div>
											</div>

										<% end %>
										<% prevEndTime = realTime+60*(w["duration"].to_i) %>
									<% end %>							
								<% end %>
							
								<% if !scheduled %>
									<%# nothing was scheduled for this hour incrementation, creates a "nothing scheduled" box %>
									<div class="hour-box text-center" data-overlap="<%= overlap %>" style="height:<%= 120-(overlap*2) %>px;" data-start="<%= (endTime.blank? ? ct+overlap*60 : endTime).strftime('%l:%M%p') %>" data-end="<%= (ct+60*60).strftime('%l:%M%p') %>">
										<div class="deets">
											<p>Nothing Scheduled</p>
											<p class="sched-time">(<%= "#{(endTime.blank? ? ct+overlap*60 : endTime).strftime('%l:%M%p')} - #{(ct+60*60).strftime('%l:%M%p')}" %> )</p>
										</div>
									</div>
									<% overlap = 0 %>
									<% endTime = nil %>
									<% prevEndTime = nil %>
								<% end %>
							<% else %>
								<% overlap = overlap - 60 %>
							<% end %>


						
					<% end %>
				</div>

			<% end %>
		</div>
	</div>
</div>

<%# modal showing work order details or time between work on click. js for click in /assets/javascripts/schedules.js %>
<div class="modal fade" id="schedule_deets" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><span class="start-time"></span> - <span class="end-time"></span></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<p>Technician: <span class="name"></span></p>
				<div class="not-scheduled" style="display:none;">
					<p><span class="name"></span> is available between <span class="last"></span> and <span class="next"></span></p>
				</div>
				<div class="scheduled" style="display:none;">
					<p><span class="name"></span> is working at <span class="jobsite"></span> in <span class="city"></span> between <span class="start-time"></span> and <span class="end-time"></span></p>
					<p>Price: <span class="price"></span></p>
				</div>
			</div>
		</div>
	</div>
</div>